<header>
  <nav>
    <ul>
      <li><a class="<%= path === '/' ? 'active' : null %>" href='/'>Home</a></li>
      <li><a class="<%= path === '/users' ? 'active' : null %>"href='/users'>Users</a></li>
    </ul>
  </nav>
</header>